.btn-bordered {
    font-size: 1.125rem;
    line-height: 1.56;
    font-weight: 500;
    padding: 0.75rem 2.25rem;
    border-radius: 2rem;
    color: var(--contrast);
    border: 1px solid var(--contrast);
    transition: 0.3s;
    width: max-content;

    &:hover {
        background-color: var(--contrast);
        color: var(--text-inversed);
    }
}

@media (min-width: 700px){
    .btn-bordered{
        padding-block: 1.125rem;
    }
    
}