.section-trending {
display: flex;
flex-direction: column;
gap: 1.875rem;
align-items: center;
    
/*.section-title {
        text-align: center;
    }*/
}

.product-grid {
    display: grid;
    gap: 16px 8px;
    grid-template-columns: 1fr 1fr;
}

.product-card {
    border: solid 1px var(--border);
    background: var(--text-inverse);
    padding: 6px 6px 16px 6px;
    border-radius: 20px;
    position: relative;
    transition: .3s;
    box-shadow: 2px 3px 30px rgba(208,185,181,0.13), 0px 4px 4px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;

    &:hover {
        border-color: var(--contrast);
    }

    .location {
        margin: 12px 0 14px 8px;
    }
}

.product-card_image {
    width: 100%;
    aspect-ratio: 161/124;
    height: auto;
    object-fit: cover;
    border-radius: 18px;
}

.product-card_body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-inline: 8px;
    gap: 0.375rem;
    margin-top: auto;
}

.location {
    padding: 0.25rem 0.75rem;
    background: var(--contrast-light);
    border-radius: 110px;
    color: var(--contrast);
    font-size: 0.625rem;
    line-height: 2;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.20rem;
    width: max-content;
    --icon-size: 0.75rem;

    svg{
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

.product-card_title::after {
    content:'';
    position: absolute;
    inset: 0;
}

.product-card_like {
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255, 0.35);
    border-radius: 100%;
    display: grid;
    place-items: center;


    position: absolute;
    top: 16px;
    right: 16px;
    transition: .3s;

    svg {
        width: 14px;
        height: 14px;
    }

    &:hover {
        color: var(--price);
        transform: scale(1.1);
        background: rgb(255, 255, 255, 0.6);
    }
}

@media (min-width: 700px) {
    .section-trending {
        gap: 3.125rem;
    }

    .product-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.25rem 1.69rem;
    }

    .product-card {
        padding: 12px 12px 24px 12px;
    }

    .location {
        font-size: 1rem;
        --icon-size: 1.125rem;
    }

    .product-card .location {
        margin-top: 34px;
        margin-bottom: 14px;
    }
    
    .product-card_image {
        height: 286px;
    }
}