body {
    font-family: "Montserrat",sans-serif;
    color: var(--text-light);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: inherit;
    color: currentColor;
}

button {
    background: inherit;
    border: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
	padding: inherit;
} 