body {
    font-family: "Montserrat",sans-serif;
    color: var(--text-light);
    margin: 0;
    padding: 0;
}
a{
    text-decoration: inherit;
    color: currentColor;
}
button{
    background: inherit;
    border: none;
    cursor: pointer;
}